<!doctype html>
<html>
   <head>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/x2js/xml2json.min.js"></script>
      <script src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"></link>
   </head>
   <body ng-app="myapp">
        <div ng-controller="HelloController" class="container">
            <div class="jumbotron">
                <h1>Welcome {{helloTo.title}} to Neustar!</h1>
            </div>
            <div class="row marketing">
                <div class="col-lg-12">
                    <div class="row" ng-repeat="station in stations">
                        <div class="col-lg-12">
                            <h2>{{station.name}} Station</h2>
                            <div class="row" ng-repeat="train in station.etd">
                                <div class="col-lg-12">
                                    <h3>{{train.destination}} Bound</h3>
                                    <ul>
                                        <li ng-repeat="eta in train.estimate">{{eta.length}} car train in {{eta.minutes}} minutes</li>
                                    </ul>
                                <div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <pre class="col-xs-12">{{etas | json}}</pre> -->
            </div>
        </div>
   </body>
</html>